@page "/"

<div id="indexGreeting">
    <h1>CRPGFitness Database</h1>

    <img src="/cat_logo.png" />
    <br />

    <p>Welcome to the application. Please use the navigation bar on the side to begin.</p>

    <h2>Project 3 - Database Connected Application</h2>

    <div id="groupMembers">
        <h3>Group 3 Members:</h3><br />
        John Holloway<br />
        Victor Odhiambo<br />
        Guntas Dhaliwal<br />
        Aiza Sabir<br />
    </div>

</div>

